/* Profil Foto */
img.pfp {
    border: 2px solid #fff;
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;

    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}

/* Logo Foto */
img.logo {
    border: 2px solid #fff;

    box-shadow: 4px 4px 2px #ccc;
    -moz-box-shadow: 4px 4px 2px #ccc;
    -webkit-box-shadow: 4px 4px 2px #ccc;
    -moz-border-radius: 25x;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}

/* Leerer Platz bei Kontaktinfo */
.empty {
    height: 3vh;
}

/* Download Foto */
#src {
    border: 2px solid #fff;
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
}

/* Links Button */
#linkP:link,
#linkP:visited {
    background-color: #333333;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
    width: 200px;
}

/* Links Button */
#linkP:hover,
#linkP:active {
    background-color: #222222;
}

h2 {
    padding-top: 10px;
}